* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3d4d4;
}

.container {
  display: grid;
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 100px 0;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-box {
  border: 1px solid #ea728c;
  text-align: center;
  padding: 3rem 0;
}
